 .animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}

.stars
{
    margin: 20px 0;
    font-size: 24px;
    color: #d17581;
}
#post-review-box .panel {
	background-color: #f1f1f1;
	border: 1px solid #ccc;
	border-radius: 0px;
}
#post-review-box .panel-heading {
	background: #f7f7f7;
	border-bottom: 1px solid #ddd;
}
#post-review-box .panel-heading h4 {
	margin: 0;
	font-size: 15px;
	font-weight: 600;
	color: #333;
}
.btn-grey{
    background-color:#D8D8D8;
	color:#FFF;
}
.rating-block {
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	padding: 15px 15px 20px 15px;
	border-radius: 3px;
	margin-top:30px;
}
.review-block {
	background-color: #f0f0f0;
	border-top: 3px solid #f60;
	padding: 15px;
	border-radius: 0;
	margin-bottom: 15px;
	margin-top: 30px;
}
.bold{
	font-weight:700;
}
.padding-bottom-7{
	padding-bottom:7px;
}

.review-block-name {
	font-size: 21px;
	margin: 10px 0;
}
.review-block-date{
	font-size:12px;
}
.review-block-rate{
	font-size:13px;
	margin-bottom:15px;
}
.review-block-title{
	font-size:15px;
	font-weight:700;
	margin-bottom:10px;
}
.review-block-description{
	font-size:13px;
}